.input-width-project {
    width: 100%;
}

.btn-for-cancel {
    background-color: white;
    color: #f0e001 !important;
    border: 2px solid #f0e001;
    text-transform: capitalize;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 0px;
    margin-right: 20px;
}

.btn-for-cancel:hover {
    background-color: yellow;
    color: black !important;
    border: 2px solid black;
}

.btn-for-submit {
    background-color: #1463bd;
    color: #fff !important;
    border: 2px solid #1463bd;
    text-transform: capitalize;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 0px;
}


table {
    width: 100%;
    border: none;
    overflow: scroll;
}

tr {
    background-color: #ffffff;
    font-size: 12px;
}

.th {
    padding: 10px 10px;
    color: #676767;
    font-weight: 420 !important;
    text-transform: capitalize;
    border: 1px solid #dbdbdb74;
}

td {
    padding: 10px 10px;
    color: #676767;
    font-weight: 420 !important;
    text-transform: capitalize;
}

.hover-tr:hover {
    background-color: #edf7ff;
    cursor: pointer;
}

.sort-icon {
    font-size: 14px;
    margin-left: 10px;
    font-weight: 860;
}

.input-dropdown {
    padding: 5px 10px;
    margin-right: 10px;
}

.btn-for-cancel {
    background-color: white;
    color: #f0e001 !important;
    border: 2px solid #f0e001;
    text-transform: capitalize;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 0px;
    margin-right: 20px;
}

.btn-for-cancel:hover {
    background-color: yellow;
    color: black !important;
    border: 2px solid black;
}

.btn-for-submit {
    background-color: #1463bd;
    color: #fff !important;
    border: 2px solid #1463bd;
    text-transform: capitalize;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 0px;
}