.navbar {
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 11px;
}

.logo-part {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: -12px;
    flex: 0.18;
    /* background-color: red; */
}

.except-logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 0.82;
    padding-left: 20px;
    padding-right: 20px;
}

.navbar-image {
    height: 50px;
}

.navbar-logo-text {
    color: #0078d4;
    font-weight: 560;
    font-size: 19px;
}

.account-center {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bell {
    margin-left: 15px;
    margin-right: 25px;
    /* margin-top: 5px; */
    color: #949fb1;
    font-weight: 300;
    position: relative;
}

.small-text-not {
    font-size: 8px;
    height: 25px;
    position: absolute;
    top: -10px;
    right: -12px;
    background-color: #20caae;
    color: white;
    font-weight: 600;
    padding: 1px 0px;
    padding-left: 5px;
    padding-right: 2px;
    border-radius: 10px;
    text-align: center;
}

.account {
    background-color: #e8eef4;
    border-radius: 50%;
    padding: 5px;
    padding-left: 6px;
    padding-right: 6px;
    color: #5d6a7e;
    font-weight: 500;
    margin-top: -10px;
}

.project-info {
    margin-top: -2px;
}


.dropdown-tray {
    position: absolute;
    background: #f7f9fb;
    right: -20px;
    top: 35px;
    border: 1px solid #e9e9e9;
    z-index: 9999;
    overflow-x: hidden;
    overflow-y: scroll;
}

.items-drowdown-tray {
    width: 100%;
}
.items-drowdown-tray:hover {
    background-color: #edf7ff;
}